/* Text css for the inside the dropbox in the Why Partner with us section*/
.partner-us-paragraph {
  font-size: 15px;
  line-height: 17px;
  text-align: justify;
}

/* Text css for the under the Why Partner With Us header*/
.partner-us-sub-paragraph {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: justify;
  line-height: 15px;
}

/* Additional padding for the section*/
.partner {
  padding-bottom: 60px;
}
