.blue-section-header-two {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 30px;
  @include respond-to("average") {
    font-size: 30px;
  }
  @include respond-to("medium") {
    font-size: 35px;
  }
  @include respond-to("large") {
    font-size: 40px;
  }
}

.blue-section-header {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 15px;
  font-family: HelveticaNeueMedium;
  @include respond-to("average") {
    font-size: 30px;
  }
  @include respond-to("medium") {
    font-size: 35px;
  }
  @include respond-to("large") {
    font-size: 40px;
  }
}

.blue-section-paragraph {
  font-size: 15px;
  padding: 20px 10px 0 10px;
  font-family: HelveticaNeueLight;
  line-height: 35px !important;
  @include respond-to("average") {
    font-size: 18px;
  }
  @include respond-to("medium") {
    font-size: 20px;
  }
  @include respond-to("large") {
    font-size: 22px;
  }
}
