/* Main forms styling*/
#wpforms-form-638 {
  padding: 10px 10px 10px 10px;
  @include respond-to("average") {
    padding: 50px 10px 10px 10px;
  }
}

/* Heading element left to form styling*/
.side-heading-for-from {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  align-content: center;
  padding-top: 20px;
}

/*Contact field*/
#wpforms-638-field_2 {
  align-content: center;
  display: flex;
  justify-content: flex-start;
}

/* Email field*/
#wpforms-638-field_1 {
  min-width: 100%;
}

.form-section {
  padding-bottom: 20px;
  @include respond-to("average") {
    padding-bottom: 50px;
  }
}

/* Button CSS*/
div.wpforms-container-full input[type="submit"],
div.wpforms-container-full button[type="submit"],
div.wpforms-container-full .wpforms-page-button {
  display: flex;
  background-color: #76b600 !important;
  text-decoration: none;
  padding: 15px 45px;
  font-size: 14px;
  color: white;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
  @include transition(0.3s ease-in-out);
  &:hover {
    background-color: darken(#76b600, 10%) !important;
  }
  @include respond-to("average") {
    padding: 10px 25px;
    font-size: 15px;
  }
}

/* Button text css styling*/
#wpforms-submit-638 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
}
div.wpforms-container-full .wpforms-form input[type="submit"],
div.wpforms-container-full .wpforms-form button[type="submit"],
div.wpforms-container-full .wpforms-form .wpforms-page-button {
  background-color: #eee;
  border: 1px solid #ddd;
  color: white !important;
  font-size: 1em;
  font-family: inherit;
  padding: 10px 15px;
}

.line-icon {
  display: flex;
  height: 55px;
  width: 55px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}
.contact-left-side {
  display: flex;
  flex-direction: column !important;
}
