.top-spacer {
  height: 70px !important;
  @include respond-to("average") {
    height: 100px !important;
  }

  @include respond-to("medium") {
    height: 120px !important;
  }

  @include respond-to("large") {
    height: 140px !important;
  }
}

.top-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
  @include respond-to("average") {
    padding-left: 90px !important;
    align-items: flex-start;
  }
  @include respond-to("medium") {
    padding-left: 100px !important;
    align-items: flex-start;
  }
  @include respond-to("large") {
    padding-left: 170px !important;
    align-items: flex-start;
  }
}

.white-box-text {
  font-family: HelveticaNeueMedium;
  font-size: 13px !important;
}
.white-box-paragraph {
  font-family: HelveticaNeueLight;
  font-size: 16px;
  line-height: 25px;
  padding: 40px 0 0 0;
  @include respond-to("average") {
    font-size: 25px;
    padding: 0;
  }
  @include respond-to("medium") {
    font-size: 25px;
    padding: 0;
  }
  @include respond-to("large") {
    font-size: 25px;
    padding: 0;
  }
}

.white-box-gap {
  :where(.wp-block-columns.is-layout-flex) {
    gap: 1em;
    @include respond-to("average") {
      gap: 2em !important;
    }
    @include respond-to("medium") {
      gap: 3em !important;
    }
    @include respond-to("large") {
      gap: 4em !important;
    }
  }
}

.welcome-heading {
  font-size: 60px !important;
  font-family: HelveticaNeueMedium;
  font-weight: 700;
  flex-direction: column;
  margin-bottom: 20px;
}

.welcome-paragraph-text-desktop {
  font-size: 18px;
  padding-top: 15px;
  font-family: HelveticaNeueLight;
  line-height: 25px;
  flex-direction: row;
  display: none;
  @include respond-to("average") {
    display: flex;
    font-size: 20px;
  }

  @include respond-to("medium") {
    display: flex;
    font-size: 20px;
  }

  @include respond-to("large") {
    display: flex;
    font-size: 20px;
  }
}
.welcome-paragraph-text-mobile {
  font-size: 18px;
  padding-top: 15px;
  font-family: HelveticaNeueLight;
  line-height: 25px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  @include respond-to("average") {
    display: none;
  }

  @include respond-to("medium") {
    display: none;
  }

  @include respond-to("large") {
    display: none;
  }
}
.welcome-paragraph {
  font-weight: bold;
  color: #062a4d;
  justify-content: center;
  display: flex;
  font-size: 20px;
  @include respond-to("average") {
    font-weight: 400;
    justify-content: center;
    display: inline-block;
  }

  @include respond-to("medium") {
    font-weight: 400;
    justify-content: center;
    display: inline-block;
  }

  @include respond-to("large") {
    font-weight: 400;
    justify-content: center;
    display: inline-block;
  }
}

.top-section-image-desktop {
  margin-left: 45px;
  min-width: 100%;
  display: none;
  @include respond-to("average") {
    margin-left: 0;
    display: flex;
  }

  @include respond-to("medium") {
    margin-left: 0;
    display: flex;
  }

  @include respond-to("large") {
    margin-left: 0;
    display: flex;
  }
}
.top-section-image-mobile {
  margin-left: 45px;
  min-width: 100%;
  display: flex;
  img {
    margin-left: 60px;
    margin-top: 20px;
  }
  @include respond-to("average") {
    margin-left: 0;
    display: none;
  }

  @include respond-to("medium") {
    margin-left: 0;
    display: none;
  }

  @include respond-to("large") {
    margin-left: 0;
    display: none;
  }
}

.column-one,
.column-two {
  display: flex;

  &.column-one {
    justify-content: center;
    @include respond-to("average") {
      justify-content: flex-end;
    }
    @include respond-to("medium") {
      justify-content: flex-end;
    }
    @include respond-to("large") {
      justify-content: flex-end;
    }
  }
  &.column-two {
    justify-content: center;
    @include respond-to("average") {
      justify-content: flex-start;
    }
    @include respond-to("medium") {
      justify-content: flex-start;
    }
    @include respond-to("large") {
      justify-content: flex-start;
    }
  }

  .white-box {
    background-color: white;
    height: 180px;
    max-width: 140px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-left: 0;
    @include respond-to("average") {
      height: 160px;
      max-width: 130px;
      margin-left: 0;
    }
    @include respond-to("medium") {
      height: 170px;
      max-width: 140px;
      margin-left: 0;
    }
    @include respond-to("large") {
      height: 180px;
      max-width: 150px;
      margin-left: 0;
    }
    .wp-image-110,
    .wp-image-112,
    .wp-image-113,
    .wp-image-114 {
      height: 80px;
      width: auto;
      @include respond-to("average") {
        height: 60px;
      }
      @include respond-to("medium") {
        height: 65px;
      }
      @include respond-to("large") {
        height: 70px;
      }
    }
  }
  p {
    font-size: 15px;
  }
}

.image-container-column {
  height: 130px;
  justify-content: center;
  display: flex;
  align-items: center;
  @include respond-to("average") {
    height: 100px;
  }
  @include respond-to("medium") {
    height: 110px;
  }
  @include respond-to("large") {
    height: 120px;
  }
}

.hide {
  display: none;
  @include respond-to("average") {
    display: inline-block;
  }

  @include respond-to("medium") {
    display: inline-block;
  }

  @include respond-to("large") {
    display: inline-block;
  }
}

.main-point {
  position: relative;
  display: flex;
  max-width: 100%;
  max-width: 1880px !important;

  h2.wp-block-heading {
    display: block;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
    margin: 0;
  }
  p {
    display: block;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
  }
  .round-image {
    max-width: 70px;
    margin-right: 10px;
    @include respond-to("average") {
      max-width: 70px;
      margin-right: 0;
    }

    @include respond-to("medium") {
      max-width: 80px;
      margin-right: 0;
    }

    @include respond-to("large") {
      max-width: 80px;
      margin-right: 0;
    }
  }
  .point-one {
    position: relative;
    padding-bottom: 2em;
    .wp-block-columns {
      width: 260px;
      @include respond-to("average") {
        width: 100%;
      }

      @include respond-to("medium") {
        width: 100%;
      }

      @include respond-to("large") {
        width: 100%;
      }
    }
    @include respond-to("average") {
      position: absolute;
      top: 23%;
      left: 0%;
    }

    @include respond-to("medium") {
      position: absolute;
      top: 23%;
      left: 0%;
    }

    @include respond-to("large") {
      position: absolute;
      top: 23%;
      left: 0%;
    }
    @include respond-to("extralarge") {
      position: absolute;
      top: 0%;
      left: 29%;
    }
    .one {
      flex-direction: row-reverse;
      justify-content: center;
      @include respond-to("average") {
        flex-direction: row-reverse;
      }

      @include respond-to("medium") {
        flex-direction: row-reverse;
      }

      @include respond-to("large") {
        flex-direction: row-reverse;
      }
      @include respond-to("extralarge") {
        flex-direction: row;
      }
    }
  }
  .point-two {
    position: relative;
    padding-bottom: 2em;
    .wp-block-columns {
      width: 260px;
    }
    @include respond-to("average") {
      position: absolute;
      top: 43%;
      right: 0%;
    }

    @include respond-to("medium") {
      position: absolute;
      top: 43%;
      right: 0%;
    }

    @include respond-to("large") {
      position: absolute;
      top: 43%;
      right: 0%;
    }
    @include respond-to("extralarge") {
      position: absolute;
      top: 42%;
      left: 19%;
    }
    .two {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      @include respond-to("average") {
        flex-direction: row;
        justify-content: center;
      }

      @include respond-to("medium") {
        flex-direction: row;
        justify-content: left;
      }

      @include respond-to("large") {
        flex-direction: row;
        justify-content: left;
      }
    }
  }
  .point-three {
    position: relative;
    padding-bottom: 2em;
    flex-direction: row;
    @include respond-to("average") {
      flex-direction: row;
    }

    @include respond-to("medium") {
      flex-direction: row;
    }

    @include respond-to("large") {
      flex-direction: row;
    }
    .wp-block-columns {
      width: 260px;
    }
    @include respond-to("average") {
      position: absolute;
      top: 75%;
      right: 0%;
    }

    @include respond-to("medium") {
      position: absolute;
      top: 75%;
      right: 0%;
    }

    @include respond-to("large") {
      position: absolute;
      top: 75%;
      right: 0%;
    }
    @include respond-to("extralarge") {
      position: absolute;
      top: 87%;
      right: 55%;
    }
    .three {
      flex-direction: row-reverse;
      justify-content: center;
      @include respond-to("average") {
        flex-direction: row;
      }

      @include respond-to("medium") {
        flex-direction: row;
      }

      @include respond-to("large") {
        flex-direction: row;
      }
    }
  }
  .point-four {
    position: relative;
    padding-bottom: 2em;
    .wp-block-columns {
      width: 260px;
      @include respond-to("average") {
        width: 100%;
      }

      @include respond-to("medium") {
        width: 100%;
      }

      @include respond-to("large") {
        width: 100%;
      }
    }
    @include respond-to("average") {
      position: absolute;
      top: 11%;
      right: 0%;
    }

    @include respond-to("medium") {
      position: absolute;
      top: 11%;
      right: 0%;
    }

    @include respond-to("large") {
      position: absolute;
      top: 11%;
      right: 0%;
    }
    @include respond-to("extralarge") {
      position: absolute;
      top: 14%;
      left: 57%;
    }
    .four {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      @include respond-to("average") {
        flex-direction: row;
      }

      @include respond-to("medium") {
        flex-direction: row;
      }

      @include respond-to("large") {
        flex-direction: row;
      }
      @include respond-to("extralarge") {
        flex-direction: row-reverse;
      }
    }
  }
  .point-five {
    position: relative;
    padding-bottom: 2em;
    .wp-block-columns {
      width: 260px;
      @include respond-to("average") {
        width: 100%;
      }

      @include respond-to("medium") {
        width: 100%;
      }

      @include respond-to("large") {
        width: 100%;
      }
    }
    @include respond-to("average") {
      position: absolute;
      top: 55%;
      left: 0%;
    }

    @include respond-to("medium") {
      position: absolute;
      top: 55%;
      left: 0%;
    }

    @include respond-to("large") {
      position: absolute;
      top: 55%;
      left: 0%;
    }
    @include respond-to("extralarge") {
      position: absolute;
      top: 73%;
      left: 56%;
    }
    .five {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }
  }
}
.point-two p,
.point-three p {
  display: block;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
  text-align: left;

  @include respond-to("average") {
    text-align: left;
  }

  @include respond-to("medium") {
    text-align: left;
  }

  @include respond-to("large") {
    text-align: right;
  }
}
.point-one p {
  display: block;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
  text-align: left;

  @include respond-to("average") {
    text-align: left;
  }

  @include respond-to("medium") {
    text-align: left;
  }

  @include respond-to("large") {
    text-align: left;
  }
  @include respond-to("extralarge") {
    text-align: right;
  }
}

.point-one h2.wp-block-heading,
.point-two h2.wp-block-heading,
.point-three h2.wp-block-heading {
  display: block;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  margin: 0;
  @include respond-to("average") {
    text-align: left;
  }

  @include respond-to("medium") {
    text-align: left;
  }

  @include respond-to("large") {
    text-align: right;
  }
}
.point-four h2.wp-block-heading {
  display: block;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  margin: 0;

  @include respond-to("average") {
    text-align: right;
  }

  @include respond-to("medium") {
    text-align: right;
  }

  @include respond-to("large") {
    text-align: right;
  }
  @include respond-to("extralarge") {
    text-align: left;
  }
}
.point-two h2.wp-block-heading {
  display: block;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  margin: 0;
  @include respond-to("average") {
    text-align: right;
  }

  @include respond-to("medium") {
    text-align: right;
  }

  @include respond-to("large") {
    text-align: right;
  }
}

.point-three p,
.point-four p {
  display: block;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
  text-align: left;

  @include respond-to("average") {
    text-align: right;
  }

  @include respond-to("medium") {
    text-align: right;
  }

  @include respond-to("large") {
    text-align: right;
  }
}

.point-four p {
  display: block;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
  text-align: left;

  @include respond-to("average") {
    text-align: right;
  }

  @include respond-to("medium") {
    text-align: right;
  }

  @include respond-to("large") {
    text-align: right;
  }
  @include respond-to("extralarge") {
    text-align: left;
  }
}

.top-section-order {
  padding-bottom: 60px;
  @include respond-to("average") {
    padding-bottom: 0;
  }

  @include respond-to("medium") {
    padding-bottom: 0;
  }

  @include respond-to("large") {
    padding-bottom: 0;
  }
}

.point-one,
.point-five {
  padding-left: 0;
  @include respond-to("average") {
    padding-left: 10px;
  }

  @include respond-to("medium") {
    padding-left: 20px;
  }

  @include respond-to("large") {
    padding-left: 50px;
  }
  @include respond-to("extralarge") {
    padding-left: 0;
  }
}
.point-two,
.point-three,
.point-four {
  padding-right: 0;
  @include respond-to("average") {
    padding-right: 10px;
  }

  @include respond-to("medium") {
    padding-right: 20px;
  }

  @include respond-to("large") {
    padding-right: 50px;
  }
  @include respond-to("extralarge") {
    padding-right: 0;
  }
}
