.universal-separator {
  hr {
    border: none;
    border-bottom: 3px solid #c4c4c4;
    width: 110px;
    margin: auto;
    position: relative;
    display: block;
    padding-top: 20px;
    margin-bottom: 15px;

    @include respond-to("average") {
      padding-top: 12px;
      width: 150px;
    }

    &::before {
      position: absolute;
      left: -3px;
      top: 16px;
      content: " ";
      width: 10px;
      height: 10px;
      background-color: #54ade1;
      border-radius: 50%;
      @include respond-to("average") {
        top: 8px;
      }
      @include respond-to("medium") {
        top: 9px;
      }
      @include respond-to("large") {
        top: 8px;
      }
    }
  }
}

.universal-button-style {
  a.wp-block-button__link {
    display: flex;
    background-color: #76b600 !important;
    text-decoration: none;
    padding: 15px 45px;
    font-size: 14px;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
    @include transition(0.3s ease-in-out);
    &:hover {
      background-color: darken(#76b600, 10%) !important;
    }
    @include respond-to("average") {
      padding: 10px 25px;
      font-size: 15px;
    }
    @include respond-to("medium") {
      padding: 10px 25px;
    }
    @include respond-to("large") {
      padding: 10px 30px;
    }
  }
}
.universal-sub-text {
  font-size: 18px;
  padding-bottom: 10px;
}
.universal-paragraph {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.universal-logo-image {
  img {
    display: flex;
    justify-content: center;
    max-width: 140px;
    height: auto;
    padding: 40px 0;
    @include respond-to("average") {
      padding: 0;
      max-width: 125px;
    }
  }
}

.universal-button-style-white {
  a.wp-block-button__link {
    display: none;
    text-decoration: none;
    padding: 15px 45px;
    font-size: 14px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    border: none;
    @include transition(0.3s ease-in-out);
    &:hover {
      background-color: darken(#ffffff, 10%) !important;
    }

    @include respond-to("average") {
      padding: 10px 30px;
      font-size: 15px;
      display: flex;
      border: 2px solid #54ade1;
    }

    @include respond-to("medium") {
      padding: 10px 30px;
      font-size: 15px;
      display: flex;
      border: 2px solid #54ade1;
    }

    @include respond-to("large") {
      padding: 10px 30px;
      font-size: 15px;
      display: flex;
      border: 2px solid #54ade1;
    }
  }
}

.universal-header {
  font-size: 30px;
  font-family: HelveticaNeueMedium;
  font-weight: 500;
  padding: 40px 0 0 0;
  @include respond-to("average") {
    font-size: 35px;
    padding: 0;
  }

  @include respond-to("medium") {
    font-size: 35px;
  }

  @include respond-to("large") {
    font-size: 40px;
  }
}

.universal-sub-text {
  font-family: HelveticaNeueLight;
}

/* Wordpres spacer*/

.wp-block-spacer {
  display: none;
  @include respond-to("average") {
    display: flex;
  }
}

.email-color-helper {
  color: #009f1e !important;
}

.text-helper-guarantee {
  font-weight: 700;
}
.text-helper-inspiration {
  color: #76b600;
}

/*Header for most pages*/
.custome-page-header {
  font-size: 40px;
  padding-top: 60px;
  padding-bottom: 0px;
  color: #062a4d;
  justify-content: center;
  display: flex;
  font-family: HelveticaNeueMedium;
  text-align: center;
  @include respond-to("average") {
    font-size: 45px;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  @include respond-to("medium") {
    font-size: 50px;
    padding-top: 55px;
  }
  @include respond-to("large") {
    font-size: 60px;
    padding-top: 60px;
    padding-bottom: 45px;
  }
}

/* Paragraph for most pages*/
.custome-page-paragraph {
  font-size: 16px;
  display: inline-block;
  text-align: justify;
}
