
.icon-language:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
