@import "breakpoints";
@import "root";
/*
Footer sccs
*/
footer {
  background-color: #062a4d;
}
#footer-container {
  background-color: #062a4d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
  width: 100%;
  margin-top: auto;
  justify-content: space-evenly;

  @include respond-to("average") {
    display: flex;
    padding: 4em 0em;
    flex-direction: row;
  }
  @include respond-to("medium") {
    display: flex;
    padding: 4em 0em;
    flex-direction: row;
  }
  @include respond-to("large") {
    display: flex;
    padding: 4em 0em;
    flex-direction: row;
  }

  .column {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    @include respond-to("average") {
      max-width: 250px;
    }
    @include respond-to("medium") {
      max-width: 250px;
    }
    @include respond-to("large") {
      max-width: 250px;
    }
    #bottom-form-header {
      display: flex;
      justify-content: left;
      width: 100%;
    }
    #input-container-email,
    #input-container-text {
      display: flex;
      align-items: center;
      justify-content: left;
      width: 100%;
      padding-top: 13px;
      font-size: 16px;
      // @include respond-to("average") {
      //   padding-top: 10px;
      // }
      // @include respond-to("medium") {
      //   padding-top: 10px;
      // }
      // @include respond-to("large") {
      //   padding-top: 10px;
      // }
      input {
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 5px;
        width: 100%;
        height: 45px;
        padding: 5px;
        @include respond-to("average") {
          height: 30px;
        }
        @include respond-to("medium") {
          height: 30px;
        }
        @include respond-to("large") {
          height: 30px;
        }
      }
      textarea {
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 5px;
        width: 300px;
        height: 100px;
        resize: none;
        padding: 5px;
      }
    }

    #column-four-content {
      display: flex;
      flex-direction: column;
      justify-content: left;
      width: 100%;
      #send-email {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 40px;
        @include respond-to("average") {
          justify-content: left;
          padding-top: 25px;
        }
        @include respond-to("medium") {
          justify-content: left;
          padding-top: 10px;
        }
        @include respond-to("large") {
          justify-content: left;
          padding-top: 10px;
        }
        button {
          background-color: #76b600;
          color: white;
          border: none;
          border-radius: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          padding: 15px 45px;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          @include transition(0.3s ease-in-out);
          &:hover {
            background-color: darken(#76b600, 10%);
          }
          @include respond-to("average") {
            padding: 10px 35px;
            font-size: 13px;
          }
          @include respond-to("medium") {
            padding: 10px 35px;
            font-size: 13px;
          }
          @include respond-to("large") {
            padding: 10px 35px;
            font-size: 13px;
          }
        }
      }
    }

    #column-two-content,
    #column-three-content {
      display: flex;
      justify-content: left;
      align-items: center;
      padding-bottom: 15px;
      @include respond-to("average") {
        justify-content: center;
      }
      @include respond-to("medium") {
        justify-content: center;
      }
      @include respond-to("large") {
        justify-content: center;
      }
      &#column-two-content {
        justify-content: left;
        padding-top: 20px;
        @include respond-to("average") {
          justify-content: center;
          padding-top: 0;
        }
        @include respond-to("medium") {
          justify-content: center;
          padding-top: 0;
        }
        @include respond-to("large") {
          justify-content: center;
          padding-top: 0;
        }
      }
      h3 {
        color: white;
        font-size: 16px;
        margin: 0;
        @include respond-to("average") {
          font-size: 15px;
        }
        @include respond-to("medium") {
          font-size: 15px;
        }
        @include respond-to("large") {
          font-size: 15px;
        }
      }
    }

    #column-two-text,
    #column-three-text,
    #column-four-text {
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;

        .footer-content-text-two {
          color: #969696;
          font-size: 15px;
          padding: 5px 0;
          display: flex;
          justify-content: left;
          margin: 0;
          padding: 5px 0 !important;
          @include transition(0.3s ease-in-out);
          @include respond-to("average") {
            justify-content: center;
            // margin: 0 0 0 90px;
            padding: 0;
            // font-size: 12px;
          }
          @include respond-to("medium") {
            justify-content: center;
            // margin: 0 0 0 90px;
            padding: 0;
            // font-size: 12px;
          }
          @include respond-to("large") {
            justify-content: center;
            // margin: 0 0 0 90px;
            padding: 0;
            // font-size: 12px;
          }
          &:hover {
            color: white;
          }
        }
      }
    }

    .footer-content-text {
      color: white;
      font-size: 15px;
      margin: 0;
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 0;
      padding-top: 25px;
      cursor: pointer;
      @include respond-to("average") {
        margin: 0;
        // font-size: 12px;
        padding-top: 0;
      }
      @include respond-to("medium") {
        // font-size: 12px;
        margin: 0;
        padding-top: 0;
      }
      @include respond-to("large") {
        margin: 0;
        padding-top: 0;
      }
      &:hover {
        color: #969696;
      }
    }
    .footer-content-text-three {
      color: white;
      font-size: 16px;
      margin: 0;
      padding: 5px 0;
      display: flex;
      justify-content: left;
      cursor: pointer;
      @include transition(0.3s ease-in-out);
      @include respond-to("average") {
        justify-content: center;
      }
      @include respond-to("medium") {
        justify-content: center;
      }
      @include respond-to("large") {
        justify-content: center;
      }
      &:hover {
        color: #969696;
      }
    }

    .social-icons {
      display: none;
      @include respond-to("average") {
        margin-top: 20px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
      }
      @include respond-to("medium") {
        margin-top: 20px;
        margin-bottom: 0;
      }
      @include respond-to("large") {
        margin-top: 20px;
        margin-bottom: 0;
      }

      .footer-icons {
        padding: 0;
        margin: 0;

        a {
          text-decoration: none;

          .fab {
            color: white;
            background-color: #76b600;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 5px;
            font-size: 18px;
            @include transition(0.3s ease-in-out);
            &:hover {
              background-color: darken(#76b600, 10%);
            }
            @include respond-to("average") {
              font-size: 16px;
              width: 30px;
              height: 30px;
            }
            @include respond-to("medium") {
              font-size: 17px;
              width: 40px;
              height: 40px;
            }
            @include respond-to("large") {
              font-size: 18px;
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
.column.three {
  display: none !important;
  @include respond-to("average") {
    display: none !important;
  }
  @include respond-to("medium") {
    display: flex !important;
  }
  @include respond-to("large") {
    display: flex !important;
  }
  a {
    text-decoration: none;
    color: white;
    @include transition(0.3s ease-in-out);
    &:hover {
      color: #969696;
    }
  }
}

.seperator-hr-element {
  margin: 0;
  border-top: 1px dashed #464547;
  display: flex !important;
  @include respond-to("average") {
    display: none !important;
  }
  @include respond-to("medium") {
    display: none !important;
  }
  @include respond-to("large") {
    display: none !important;
  }
}

#mobile-version-useful-links {
  display: flex !important;
  padding-top: 40px;
  @include respond-to("average") {
    display: none !important;
  }
  @include respond-to("medium") {
    display: none !important;
  }
  @include respond-to("large") {
    display: none !important;
  }
}

#desktop-version-useful-links {
  display: none !important;
  @include respond-to("average") {
    display: flex !important;
  }
  @include respond-to("medium") {
    display: flex !important;
  }
  @include respond-to("large") {
    display: flex !important;
  }
}

.copyright {
  color: white;
  font-size: 12px;
  padding-bottom: 5px;
  opacity: 80%;
}

.footer-content-text-no-hover {
  color: white;
  font-size: 15px;
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding-top: 25px;
  @include respond-to("average") {
    margin: 0;
    padding-top: 0;
  }
  @include respond-to("medium") {
    margin: 0;
    padding-top: 0;
  }
  @include respond-to("large") {
    margin: 0;
    padding-top: 0;
  }
}

/* Follow us styling*/

.follow-us-mobile {
  display: flex;
  color: white;
  font-size: 16px;
  padding: 5px 0;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 10px 0 20px 0 !important;
  transition: 0.3s ease-in-out;
  @include respond-to("average") {
    display: none;
  }
  @include respond-to("medium") {
    display: none;
  }
  @include respond-to("large") {
    display: none;
  }
}

.follow-us-icons {
  display: flex;
  color: grey;
  list-style: none;
  .footer-icons-mobile {
    .fab {
      color: white;
      width: 30px;
      height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      flex-direction: row;
      background-color: transparent;
      border-radius: 0;
    }
  }
}
