@import "breakpoints";

/*
Header SCSS start
*/

header.header {
  text-align: center;
  z-index: 999;
  margin: 0 auto;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #navigation {
      display: flex;
      align-items: flex-start;
      width: 100%;
      flex-direction: column;
      @include respond-to("average") {
        flex-direction: row;
        align-items: center;
      }
      @include respond-to("medium") {
        flex-direction: row;
        align-items: center;
      }
      @include respond-to("large") {
        flex-direction: row;
        align-items: center;
      }
      .menu-item {
        display: flex;
        align-items: flex-start;
        @include respond-to("average") {
          align-items: center;
        }
        @include respond-to("medium") {
          align-items: center;
        }
        @include respond-to("large") {
          align-items: center;
        }
      }

      #nav-bar-logo {
        flex: 1;
        display: none;
        @include respond-to("average") {
          flex-direction: row;
          display: flex;
        }
        @include respond-to("medium") {
          flex-direction: row;
          display: flex;
        }
        @include respond-to("large") {
          flex-direction: row;
          display: flex;
        }
      }

      #nav-bar-categories {
        flex: 2;
        display: flex;
        justify-content: left;
        margin: 0;
        flex-direction: column;
        a {
          font-size: 20px;
          padding: 10px 15px;
          @include respond-to("average") {
            font-size: 15px;
          }
          @include respond-to("medium") {
            font-size: 15px;
          }
          @include respond-to("large") {
            font-size: 15px;
          }
        }
        @include respond-to("average") {
          flex-direction: row;
          justify-content: center;
        }
        @include respond-to("medium") {
          flex-direction: row;
          justify-content: center;
        }
        @include respond-to("large") {
          flex-direction: row;
          justify-content: center;
        }
      }

      #nav-bar-icons {
        flex: 1;
        align-items: center;
        margin: auto;
        display: none;

        @include respond-to("large") {
          display: flex;

          .social-list {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;

            a {
              width: 32px;
              height: 32px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              position: relative;

              &:hover {
                color: #76b600;
              }

              .fa {
                font-size: 8px;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

.head-button-container {
  display: none;
  @include respond-to("average") {
    display: flex;
  }
  @include respond-to("medium") {
    display: flex;
  }
  @include respond-to("large") {
    display: flex;
  }
  .head-button-body {
    display: flex;
    .header-button-link {
      display: flex;
      background-color: #76b600;
      text-decoration: none;
      padding: 10px 25px;
      font-size: 15px;
      color: white;
      border-radius: 30px;
      &:hover {
        background-color: darken(#76b600, 10%);
      }
    }
  }
}
/* Header */
.header {
  height: auto;
  width: 100%;
  background-color: #062a4d;
  color: #fff;

  .navbar {
    padding: 1rem 1rem;

    .navbar-dark {
      .navbar-toggler {
        border: none;
        padding: 0.25rem 0.6rem;

        &:hover {
          opacity: 1;
        }
      }
    }

    .nav-item,
    .menu-item {
      font-weight: bold;

      a {
        color: white;
        padding: 10px;
        &:hover {
          text-decoration: underline;
          color: #76b600;
        }
      }
    }
  }
}
/*
Header SCSS end 
*/

/* Footer elements in header on mobile version scss*/
.mobile-contact-us-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  @include respond-to("average") {
    display: none;
  }
  @include respond-to("medium") {
    display: none;
  }
  @include respond-to("large") {
    display: none;
  }

  .header-content-text-mobile {
    display: flex;
    padding: 5px 15px;
    margin: 0;
    color: white;
    font-size: 16px;
  }
}

/* Mobile version social icons css*/
.fab {
  color: white;
  background-color: #76b600;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.mobile-social-icons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
  margin: auto;
  @include respond-to("average") {
    display: none;
  }
  @include respond-to("medium") {
    display: none;
  }
  @include respond-to("large") {
    display: none;
  }
  .mobile-social-icons-container-content {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
  }
}

.footer-icons {
  padding: 0;
  margin: 0;
  list-style: none;
  a {
    text-decoration: none;
  }
}

/* Fontello icon scss*/
.menu-icon {
  color: #54ade1;
  font-size: 17px;
}
.icon-euro,
.icon-search,
.icon-language {
  position: relative;
  display: flex;
  padding-right: 8px;
  &:nth-child(-n + 3)::after {
    content: "";
    position: absolute;
    height: 120%;
    width: 1px;
    background-color: white;
    right: 0;
    top: 0;
  }
}
