@import "breakpoints";

/*
Header SCSS start
*/
#nav-bar-logo {
  flex: 1;
  display: none;
  @include respond-to("average") {
    flex-direction: row;
    display: flex;
  }
}
#nav-bar-categories {
  flex: 2;
  display: flex;
  justify-content: left;
  margin: 0;
  flex-direction: row !important;
  a {
    font-size: 20px;
    padding: 10px 15px;
    @include respond-to("average") {
      font-size: 15px;
    }
  }
  @include respond-to("average") {
    flex-direction: row !important;
    justify-content: center;
  }
}

#nav-bar-icons {
  flex: 1;
  align-items: center;
  margin: 0;
  padding: 0;
  display: none;

  @include respond-to("large") {
    display: flex;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    margin: auto;
    .social-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row !important;
      margin: auto;

      .list-inline-item {
        position: relative;
        padding-left: 5px;
        @include respond-to("average") {
          padding-left: 0px;
        }
        .hidden-content {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 999;
          width: 100px;
          background-color: white;
          border: 1px solid rgb(203, 200, 200);
          box-shadow: 0 0.2rem 1.2rem rgba(34, 34, 34, 0.175);

          &:hover {
            display: block;
          }
        }

        .language-link:hover + .hidden-content {
          display: block;
          text-decoration: none;
        }
      }

      a {
        display: flex;
        text-decoration: none;

        .menu-icon {
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          flex-direction: row;
          position: relative;
          color: #ffffff;
          font-size: 21px;
          @include transition(0.3s ease-in-out);

          &:hover {
            color: #76b600 !important;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.head-button-container {
  display: none;
  @include respond-to("average") {
    display: none;
  }
  @include respond-to("medium") {
    display: flex;
  }
  .head-button-body {
    display: flex;
    .header-button-link {
      display: flex;
      background-color: #76b600;
      text-decoration: none;
      padding: 8px 20px;
      font-size: 16px;
      color: white;
      border-radius: 30px;
      @include transition(0.3s ease-in-out);
      &:hover {
        background-color: darken(#76b600, 10%);
      }
    }
  }
}
.mobile-menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  @include respond-to("average") {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }

  @include respond-to("medium") {
    flex-direction: row;
    justify-content: center;
  }

  li {
    display: flex;
    justify-content: flex-start;
    align-items: left;
  }
}
.main-header {
  height: auto;
  width: 100%;
  background-color: #062a4d;
  color: #fff;

  .navbar {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;

    .navbar-dark {
      .navbar-toggler {
        border: none;
        padding: 0.25rem 0.6rem;

        &:hover {
          opacity: 1;
        }
      }
    }

    .nav-item,
    .menu-item {
      font-weight: bold;

      a {
        color: white;
        padding: 10px;
        @include transition(0.3s ease-in-out);
        &:hover {
          text-decoration: underline;
          color: #76b600;
        }
      }
    }
  }
}
/*
Header SCSS end 
*/

.footer-icons {
  padding: 0;
  margin: 0;
  list-style: none;
  a {
    text-decoration: none;
  }
}

/* Fontello icon scss*/
.icon-language {
  position: relative;
  display: flex;
  padding-right: 0;
  @include respond-to("medium") {
    padding-right: 10px;
  }
  &:nth-child(-n + 3)::after {
    display: none;
    position: relative;
    @include respond-to("medium") {
      content: "";
      position: absolute;
      display: flex;
      height: 100%;
      width: 1px;
      background-color: white;
      right: 0;
      top: 0;
    }
  }
}

.header-spacer {
  height: 15px !important;
  @include respond-to("average") {
    height: 20px !important;
  }

  @include respond-to("medium") {
    height: 25px !important;
  }

  @include respond-to("large") {
    height: 30px !important;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  @include respond-to("average") {
    padding-left: 60px;
  }
}

/*Flag plugin extra css*/
// #flags {
//   width: 100% !important;
// }

// #flags a:hover {
//   transform: scale(1.5);
// }

/* Mobile cart container*/
.mobile-cart-container {
  display: flex;
  font-size: 1.3rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 15px;
  flex: 1;
  position: relative;
  .social-list {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  .icon-shopping-basket:before {
    color: white;
  }
  @include respond-to("medium") {
    display: none;
  }

  .cart-count-mobile {
    position: absolute;
    left: 65px;
    top: 25px;
    text-decoration: none;
    background-color: #ff0000;
    color: #fff;
    padding: 0px 5px;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
  }
}

.fa-user {
  width: 32px !important;
  height: 32px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-decoration: none !important;
  flex-direction: row !important;
  position: relative !important;
  color: #ffffff !important;
  font-size: 24px !important;
  padding-top: 2px !important;

  &::after {
    content: none;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 1px;
    background-color: white;
    @include respond-to("medium") {
      content: "";
    }
  }
}

/*Custom css for header language plugin*/
.wpml-ls-legacy-dropdown-click {
  width: 15.5em;
  max-width: 100px !important;
}
.wpml-ls-legacy-dropdown-click > ul {
  position: relative;
  padding: 0;
  margin: 0 !important;
  list-style-type: none;
  max-width: 117px !important;
}
@media only screen and (max-width: 992px) {
  .hidden-content-mobile {
    display: none;
  }

  .hidden-content-mobile.show {
    display: block;
    background-color: white;
    border: 1px solid #062a4d;
    z-index: 999;
    position: absolute;
    top: 80%;
    left: 0;
    box-shadow: 0 0.2rem 1.2rem rgba(34, 34, 34, 0.175);
    text-decoration: none;
  }
}

.icon-language:before {
  width: 32px !important;
  height: 32px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-decoration: none !important;
  flex-direction: row !important;
  position: relative !important;
  color: #ffffff !important;
  font-size: 28px !important;
}

.icon-language:hover:before {
  @include transition(0.3s ease-in-out);
  color: #76b600 !important;
  text-decoration: none;
}

.language-link {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  .fa.fa-chevron-down {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
}

.icon-language {
  @include transition(0.3s ease-in-out);
  &:hover {
    color: #76b600 !important;
    text-decoration: none;
  }
}
