body {
  background: red !important;
}

/*
Footer sccs doesnt work with import
*/
#footer-container {
  background-color: #062a4d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4em 0em;
  width: 100%;
}
#footer-container .column {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}
#footer-container .column h3 {
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 0;
}
#footer-container .column #input-container-email,
#footer-container .column #input-container-text {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding-top: 10px;
  font-size: 12px;
}
#footer-container .column #input-container-email input,
#footer-container .column #input-container-text input {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  padding: 5px;
}
#footer-container .column #input-container-email textarea,
#footer-container .column #input-container-text textarea {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  width: 300px;
  height: 100px;
  resize: none;
  padding: 5px;
}
#footer-container .column #column-four-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}
#footer-container .column #column-four-content #button-container {
  display: flex;
  justify-content: left;
  width: 100%;
  padding-top: 10px;
}
#footer-container .column #column-four-content #button-container button {
  background-color: #76b600;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 7px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
#footer-container .column #column-four-content #button-container button:hover {
  background-color: #558300;
}
#footer-container .column #column-two-content,
#footer-container .column #column-three-content,
#footer-container .column #column-four-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
#footer-container .column #column-two-content#column-three-content,
#footer-container .column #column-three-content#column-three-content,
#footer-container .column #column-four-content#column-three-content {
  justify-content: left;
}
#footer-container .column #column-two-content h3,
#footer-container .column #column-three-content h3,
#footer-container .column #column-four-content h3 {
  color: white;
  font-size: 15px;
  margin: 0;
}
#footer-container .column #column-two-text,
#footer-container .column #column-three-text,
#footer-container .column #column-four-text {
  display: flex;
  flex-direction: column;
}
#footer-container .column #column-two-text a,
#footer-container .column #column-three-text a,
#footer-container .column #column-four-text a {
  text-decoration: none;
}
#footer-container .column #column-two-text a .footer-content-text-two,
#footer-container .column #column-three-text a .footer-content-text-two,
#footer-container .column #column-four-text a .footer-content-text-two {
  color: #969696;
  font-family: he;
  font-size: 12px;
  padding: 5px 0;
  display: flex;
  justify-content: left;
  margin: 0 0 0 90px;
}
#footer-container .column .footer-content-text {
  color: white;
  font-size: 12px;
  margin: 0;
  display: flex;
  text-align: left;
  justify-content: center;
  margin: 0 0 0 40px;
}
#footer-container .column .footer-content-text-three {
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 5px 0;
  display: flex;
  justify-content: left;
}
#footer-container .column .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
#footer-container .column .social-icons .footer-icons {
  padding: 0;
  margin: 0;
}
#footer-container .column .social-icons .footer-icons a {
  text-decoration: none;
}
#footer-container .column .social-icons .footer-icons a .fab {
  color: white;
  background-color: #76b600;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 13px;
}

/*
Header SCSS start / doesnt work with iport
*/
header.header {
  text-align: center;
}
header.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.header nav #navigation {
  display: flex;
  align-items: center;
  width: 100%;
}
header.header nav #navigation #nav-bar-logo {
  flex: 1;
}
header.header nav #navigation #nav-bar-categories {
  flex: 2;
  display: flex;
  justify-content: center;
}
header.header nav #navigation #nav-bar-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header .nav-item a {
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

/*
  Header SCSS end 
  */
* {
  margin: 0;
  padding: 0;
}

/*
Footer sccs
*/
#footer-container {
  background-color: #062a4d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4em 0em;
  width: 100%;
}
#footer-container .column {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}
#footer-container .column #bottom-form-header {
  display: flex;
  justify-content: left;
  width: 100%;
}
#footer-container .column #input-container-email,
#footer-container .column #input-container-text {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding-top: 10px;
  font-size: 12px;
}
#footer-container .column #input-container-email input,
#footer-container .column #input-container-text input {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  padding: 5px;
}
#footer-container .column #input-container-email textarea,
#footer-container .column #input-container-text textarea {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  width: 300px;
  height: 100px;
  resize: none;
  padding: 5px;
}
#footer-container .column #column-four-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}
#footer-container .column #column-four-content #button-container {
  display: flex;
  justify-content: left;
  width: 100%;
  padding-top: 10px;
}
#footer-container .column #column-four-content #button-container button {
  background-color: #76b600;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 7px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
#footer-container .column #column-four-content #button-container button:hover {
  background-color: #558300;
}
#footer-container .column #column-two-content,
#footer-container .column #column-three-content,
#footer-container .column #column-four-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
#footer-container .column #column-two-content#column-three-content,
#footer-container .column #column-three-content#column-three-content,
#footer-container .column #column-four-content#column-three-content {
  justify-content: left;
}
#footer-container .column #column-two-content h3,
#footer-container .column #column-three-content h3,
#footer-container .column #column-four-content h3 {
  color: white;
  font-size: 15px;
  margin: 0;
}
#footer-container .column #column-two-text,
#footer-container .column #column-three-text,
#footer-container .column #column-four-text {
  display: flex;
  flex-direction: column;
}
#footer-container .column #column-two-text a,
#footer-container .column #column-three-text a,
#footer-container .column #column-four-text a {
  text-decoration: none;
}
#footer-container .column #column-two-text a .footer-content-text-two,
#footer-container .column #column-three-text a .footer-content-text-two,
#footer-container .column #column-four-text a .footer-content-text-two {
  color: #969696;
  font-family: he;
  font-size: 12px;
  padding: 5px 0;
  display: flex;
  justify-content: left;
  margin: 0 0 0 90px;
}
#footer-container .column .footer-content-text {
  color: white;
  font-size: 12px;
  margin: 0;
  display: flex;
  text-align: left;
  justify-content: center;
  margin: 0 0 0 40px;
}
#footer-container .column .footer-content-text-three {
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 5px 0;
  display: flex;
  justify-content: left;
}
#footer-container .column .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
#footer-container .column .social-icons .footer-icons {
  padding: 0;
  margin: 0;
}
#footer-container .column .social-icons .footer-icons a {
  text-decoration: none;
}
#footer-container .column .social-icons .footer-icons a .fab {
  color: white;
  background-color: #76b600;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 13px;
}

/*
Header SCSS start 
*/
header.header {
  text-align: center;
}
header.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.header nav #navigation {
  display: flex;
  align-items: center;
  width: 100%;
}
header.header nav #navigation #nav-bar-logo {
  flex: 1;
}
header.header nav #navigation #nav-bar-categories {
  flex: 2;
  display: flex;
  justify-content: center;
}
header.header nav #navigation #nav-bar-icons {
  flex: 1;
  align-items: center;
  margin: auto;
}
header.header nav #navigation #nav-bar-icons .social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
header.header nav #navigation #nav-bar-icons .social-list a {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* AFTER ELEMENT HERE! */
}
header.header nav #navigation #nav-bar-icons .social-list a .fa {
  font-size: 10px;
  margin-right: 3px;
  color: white;
}

.header .nav-item a {
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.head-button-container {
  display: flex;
}
.head-button-container .head-button-body {
  display: flex;
}
.head-button-container .head-button-body .header-button-link {
  display: flex;
  background-color: #76b600;
  text-decoration: none;
  padding: 10px 25px;
  font-size: 17px;
  color: white;
  border-radius: 30px;
}

/*
Header SCSS end 
*/
:root {
  /* Color Variables */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #ee3577;
  --red: #dc3545;
  --orange: #f68e62;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #767575;
  --gray-dark: #434242;
  --primary: #6f42c1;
  --secondary: #4f4f4f;
  --light: #c2c2c2;
  --lightgray: #eeeeee;
  --dark: #434242;
  /* Font Variables */
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  /* Font Sizes */
  --font-normal: 1em;
  --font-small: 0.8125rem;
  /* Sidebar */
  --sidebar-width: 280px;
  --content-max-width: 860px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray-dark);
  font-weight: bold;
}

/* Buttons */
.btn {
  font-weight: bold;
  padding: 0.375rem 1rem;
  height: 2.75rem;
  transition: all 0.4s ease-in-out;
}
.btn:focus, .btn.focus {
  box-shadow: none !important;
}
.btn.btn-primary {
  color: #fff;
}

/* Form Controls */
.form-control {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  height: 2.75rem;
  border-color: var(--light);
}

/* Themes */
.theme-bg-light {
  background: var(--light) !important;
}

.theme-bg-dark {
  background-color: #062a4d !important;
}

/* Header */
.header {
  height: auto;
  width: 100%;
  background-color: #062a4d;
  color: #fff;
}
.header .navbar {
  padding: 1rem 1rem;
}
.header .navbar .navbar-dark .navbar-toggler {
  border: none;
  padding: 0.25rem 0.6rem;
}
.header .navbar .navbar-dark .navbar-toggler:hover {
  opacity: 1;
}
.header .navbar .navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.header .navbar .nav-item {
  font-weight: bold;
}
.header .navbar .nav-item.active a {
  color: rgba(0, 0, 0, 0.5);
}
.header .navbar .nav-item.active a:hover {
  text-decoration: none;
}
.header .navbar .nav-item a:hover {
  text-decoration: underline;
  color: #76b600;
}

/* Logo */
.logo {
  width: 140px;
}

/* Main Wrapper */
.main-wrapper {
  background: transparent;
}
.main-wrapper .container {
  max-width: var(--content-max-width);
}

/* Page Title */
.page-title {
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: all 0.2s;
}
.page-title.sticky {
  padding: 1em 0 !important;
}
.page-title .heading {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

/* Gradient */
.gradient {
  background: rgb(43, 43, 43);
  background: linear-gradient(151deg, var(--orange) 0%, var(--pink) 35%, var(--primary) 100%) !important;
}

/* Content */
.content {
  /* Media Queries */
}
.content .post .title {
  font-size: 1.275rem;
}
.content .post .title a {
  color: var(--gray-dark);
}
.content .post .title a:hover {
  color: var(--gray-dark);
}
.content .post .post-thumb {
  max-width: 160px;
  border-radius: 2px;
}
.content .post .intro {
  font-size: 0.875rem;
}
.content .post .more-link {
  font-size: var(--font-small);
}
.content .meta {
  color: #8f8f8f;
  font-size: var(--font-small);
}
.content .meta span {
  display: inline-block;
  margin-right: 0.25em;
}
.content .meta span a {
  color: #8f8f8f;
}
.content .meta span.tag {
  background-color: var(--lightgray);
  padding: 0 0.5em;
  border-radius: 5px;
}
.content .meta span:last-child:after {
  display: none;
}
.content .meta span a:hover {
  color: var(--secondary);
}
.content .blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  border-left: 2px solid var(--gray-dark);
  font-size: 1.5rem;
}
.content .blockquote p {
  font-size: 1.5rem;
}
@media (prefers-reduced-motion: reduce) {
  .content .social-list a,
  .content .btn {
    transition: none;
  }
}

@media (max-width: 991.98px) {
  .page-title {
    position: static;
  }
  .header {
    position: sticky;
    width: inherit;
    height: auto;
  }
  .header .btn-primary {
    width: 100%;
  }
  .header .navbar .main-wrapper .container {
    padding: 1rem;
  }
  .main-wrapper {
    margin-left: 0;
  }
}
/* Comments */
.comments-wrapper {
  margin-top: 3rem;
}

.comment-reply-title {
  margin: 0 0 4rem 0;
  text-align: center;
}

.comment,
.pingback,
.trackback,
.review {
  padding-top: 3.5rem;
}

.comment-meta {
  line-height: 1.1;
  margin-bottom: 0;
}

.section-content {
  background-color: red;
}

.bowl-left {
  display: flex;
  position: absolute;
  top: 55%;
  left: 0;
}

.bowl-right {
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 0;
}

.text-helper-guarantee {
  font-weight: 700;
}

.text-helper-inspiration {
  color: #76b600;
}

/* doesnt work as intended, why?*/
.helper-line {
  position: relative;
  /* Ball styling, probably no the way to do this and its not, help */
}
.helper-line::after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 165px;
  background-color: #c4c4c4;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */