/* Main project SCSS*/
@import "footer";
@import "header";
@import "breakpoints";
@import "mobile-version";
@import "logo";

/* Section SCSS */
@import "section css/about-us-section";
@import "section css/blue-section";
@import "section css/universal-helpers";
@import "section css/order-now-section";
@import "section css/become-a-partner";
@import "section css/reviews-section-mobile";
@import "section css/reviews-section-desktop";
@import "section css/home-section";

/* Fonts */
@import "fonts/fonts";

/* Default main project settings */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* Main Wrapper */
.main-wrapper {
  max-width: 1170px !important;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  @include respond-to("average") {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include respond-to("medium") {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include respond-to("large") {
    padding-right: 15px;
    padding-left: 15px;
  }
}
