/* Main project SCSS*/
@import "footer";
@import "header";
@import "breakpoints";
@import "mobile-version";
@import "logo";

/* Section SCSS */
@import "section css/about-us-section";
@import "section css/blue-section";
@import "section css/universal-helpers";
@import "section css/order-now-section";
@import "section css/become-a-partner";
@import "section css/reviews-section-mobile";
@import "section css/reviews-section-desktop";
@import "section css/home-section";

/* Fonts */
@import "fonts/fonts";

/* Default main project settings */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.circle-container {
  position: relative;

  .circle-point {
    position: absolute;
    // max-width: 300px;
    font-size: 0.8em;
    flex-wrap: nowrap;

    img {
      width: 100px;
    }
  }

  .circle-point-one {
    top: 20%;
    left: 20%;
  }

  .circle-point-two {
    right: 30%;
    bottom: 20%;
    display: flex;
    flex-direction: row-reverse;
  }
}
/* Main Wrapper */
.main-wrapper {
  max-width: 1170px !important;
  margin-left: auto;
  margin-right: auto;

  // // Both should use the same breakpoint
  // .welcome-paragraph-text-mobile {
  //   // Add desktop to hide on desktop
  // }

  // .welcome-paragraph-text-desktop {
  //   display: none;
  //   // Add breakpoint to only display on desktop
  // }

  // .top-left-container {
  //   order: 2;
  // }

  // .top-image-left {
  //   order: 1;
  // }

  // .top-section-order {
  //   display: flex;
  // }
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  @include respond-to("average") {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include respond-to("medium") {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include respond-to("large") {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.main-point {
  position: relative;
  display: flex;
  h2.wp-block-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    margin: 0;
  }
  p {
    display: flex;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
  }
  img {
    width: 70px;
    margin-right: 10px;
    @include respond-to("average") {
      width: 60px;
      margin-right: 0;
    }

    @include respond-to("medium") {
      width: 60px;
      margin-right: 0;
    }

    @include respond-to("large") {
      width: 60px;
      margin-right: 0;
    }
  }
  .point-one {
    position: relative;
    padding-bottom: 2em;
    .wp-block-columns {
      width: 260px;
    }
    @include respond-to("average") {
      position: absolute;
      top: 0%;
      left: 21%;
    }

    @include respond-to("medium") {
      position: absolute;
      top: 0%;
      left: 21%;
    }

    @include respond-to("large") {
      position: absolute;
      top: 0%;
      left: 21%;
    }
    .one {
      flex-direction: row-reverse;
    }
  }
  .point-two {
    position: relative;
    padding-bottom: 2em;
    .wp-block-columns {
      width: 260px;
    }
    @include respond-to("average") {
      position: absolute;
      top: 43%;
      left: 8%;
    }

    @include respond-to("medium") {
      position: absolute;
      top: 43%;
      left: 8%;
    }

    @include respond-to("large") {
      position: absolute;
      top: 43%;
      left: 8%;
      padding-right: 15px;
      padding-left: 15px;
    }
    .two {
      display: flex;
      flex-direction: row-reverse;
      @include respond-to("average") {
        flex-direction: row;
      }

      @include respond-to("medium") {
        flex-direction: row;
      }

      @include respond-to("large") {
        flex-direction: row;
      }
    }
  }
  .point-three {
    position: relative;
    padding-bottom: 2em;
    .wp-block-columns {
      width: 260px;
    }
    @include respond-to("average") {
      position: absolute;
      top: 80%;
      left: 22%;
    }

    @include respond-to("medium") {
      position: absolute;
      top: 80%;
      left: 22%;
    }

    @include respond-to("large") {
      position: absolute;
      top: 80%;
      left: 22%;
    }
    .three {
      flex-direction: row-reverse;
      @include respond-to("average") {
        flex-direction: row;
      }

      @include respond-to("medium") {
        flex-direction: row;
      }

      @include respond-to("large") {
        flex-direction: row;
      }
    }
  }
  .point-four {
    position: relative;
    padding-bottom: 2em;
    .wp-block-columns {
      width: 260px;
    }
    @include respond-to("average") {
      position: absolute;
      top: 11%;
      left: 60%;
    }

    @include respond-to("medium") {
      position: absolute;
      top: 11%;
      left: 60%;
    }

    @include respond-to("large") {
      position: absolute;
      top: 11%;
      left: 60%;
    }
    .four {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  .point-five {
    position: relative;
    padding-bottom: 2em;
    .wp-block-columns {
      width: 260px;
    }
    @include respond-to("average") {
      position: absolute;
      top: 69%;
      left: 58%;
    }

    @include respond-to("medium") {
      position: absolute;
      top: 69%;
      left: 58%;
    }

    @include respond-to("large") {
      position: absolute;
      top: 69%;
      left: 58%;
    }
    .five {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.top-section-order {
  padding-bottom: 60px;
  @include respond-to("average") {
    padding-bottom: 0;
  }

  @include respond-to("medium") {
    padding-bottom: 0;
  }

  @include respond-to("large") {
    padding-bottom: 0;
  }
}
