@import "footer";
@import "header";
@import "breakpoints";

/* Section SCSS */
@import "section css/about-us-section";
@import "section css/blue-section";
@import "section css/universal-helpers";

/* Fonts */
@import "fonts/fonts";

/* Default main project settings */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  /* Color Variables */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #ee3577;
  --red: #dc3545;
  --orange: #f68e62;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #767575;
  --gray-dark: #434242;
  --primary: #6f42c1;
  --secondary: #4f4f4f;
  --light: #c2c2c2;
  --lightgray: #eeeeee;
  --dark: #434242;
}

/* Form Controls */
.form-control {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  height: 2.75rem;
  border-color: var(--light);
}

/* Themes */
.theme-bg-light {
  background: var(--light) !important;
}

.theme-bg-dark {
  background-color: #062a4d !important;
}

/* Logo */
.logo {
  width: 160px;
  @include respond-to("average") {
    width: 140px;
  }
  @include respond-to("medium") {
    width: 140px;
  }
  @include respond-to("large") {
    width: 140px;
  }
}

/* Main Wrapper */
.main-wrapper {
  //background: transparent;
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
}
// .container {
//   padding: 0 !important;
// }
/* Page Title */
.page-title {
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: all 0.2s;

  &.sticky {
    padding: 1em 0 !important;
  }

  .heading {
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
}

/* Gradient */
.gradient {
  background: rgb(43, 43, 43);
  background: linear-gradient(
    151deg,
    var(--orange) 0%,
    var(--pink) 35%,
    var(--primary) 100%
  ) !important;
}

/* Content */
.content {
  .post {
    .title {
      font-size: 1.275rem;
      a {
        color: var(--gray-dark);

        &:hover {
          color: var(--gray-dark);
        }
      }
    }

    .post-thumb {
      max-width: 160px;
      border-radius: 2px;
    }

    .intro {
      font-size: 0.875rem;
    }

    .more-link {
      font-size: var(--font-small);
    }
  }

  .meta {
    color: #8f8f8f;
    font-size: var(--font-small);

    span {
      display: inline-block;
      margin-right: 0.25em;

      a {
        color: #8f8f8f;
      }

      &.tag {
        background-color: var(--lightgray);
        padding: 0 0.5em;
        border-radius: 5px;
      }

      &:last-child:after {
        display: none;
      }

      a:hover {
        color: var(--secondary);
      }
    }
  }

  .blockquote {
    font-family: Georgia, "Times New Roman", Times, serif;
    border-left: 2px solid var(--gray-dark);
    font-size: 1.5rem;

    p {
      font-size: 1.5rem;
    }
  }

  /* Media Queries */
  @media (prefers-reduced-motion: reduce) {
    .social-list a,
    .btn {
      transition: none;
    }
  }
}

// @media (max-width: 991.98px) {
//   .page-title {
//     position: static;
//   }

//   .header {
//     position: sticky;
//     width: inherit;
//     height: auto;

//     .btn-primary {
//       width: 100%;
//     }

//     .navbar {
//       .main-wrapper .container {
//         padding: 1rem;
//       }
//     }
//   }

//   .main-wrapper {
//     margin-left: 0;
//   }
// }

/* Comments */
.comments-wrapper {
  margin-top: 3rem;
}

.comment-reply-title {
  margin: 0 0 4rem 0;
  text-align: center;
}

.comment,
.pingback,
.trackback,
.review {
  padding-top: 3.5rem;
}

.comment-meta {
  line-height: 1.1;
  margin-bottom: 0;
}

// .service-items {
//   background-color: black;
// }

.section-content {
  background-color: red;
}
.bowl-left {
  display: none;
  position: absolute !important;
  top: 55%;
  left: 0;
  @include respond-to("average") {
    display: flex;
  }
  @include respond-to("medium") {
    display: flex;
  }
  @include respond-to("large") {
    display: flex;
  }
}
.bowl-right {
  display: none;
  position: absolute !important;
  bottom: 5%;
  right: 0;
  @include respond-to("average") {
    display: flex;
  }
  @include respond-to("medium") {
    display: flex;
  }
  @include respond-to("large") {
    display: flex;
  }
}
.text-helper-guarantee {
  font-weight: 700;
}
.text-helper-inspiration {
  color: #76b600;
}

.top-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
  @include respond-to("average") {
    padding-left: 60px;
    align-items: flex-start;
  }
  @include respond-to("medium") {
    padding-left: 70px;
    align-items: flex-start;
  }
  @include respond-to("large") {
    padding-left: 170px;
    align-items: flex-start;
  }
}

.white-box-text {
  font-family: HelveticaNeueMedium;
}
.white-box-paragraph {
  font-family: HelveticaNeueLight;
}

.white-box-gap {
  :where(.wp-block-columns.is-layout-flex) {
    gap: 1em;
    @include respond-to("average") {
      gap: 2em !important;
    }
    @include respond-to("medium") {
      gap: 2em !important;
    }
    @include respond-to("large") {
      gap: 2em !important;
    }
  }
}

.column-one,
.column-two {
  display: flex;

  &.column-one {
    justify-content: center;
    @include respond-to("average") {
      justify-content: flex-end;
    }
    @include respond-to("medium") {
      justify-content: flex-end;
    }
    @include respond-to("large") {
      justify-content: flex-end;
    }
  }
  &.column-two {
    justify-content: center;
    @include respond-to("average") {
      justify-content: flex-start;
    }
    @include respond-to("medium") {
      justify-content: flex-start;
    }
    @include respond-to("large") {
      justify-content: flex-start;
    }
  }

  .white-box {
    background-color: white;
    height: 200px;
    padding-top: 0;
    max-width: 145px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-left: 0;
    @include respond-to("average") {
      height: 200px;
      padding-top: 20px;
      max-width: 160px;
      margin-left: 0;
    }
    @include respond-to("medium") {
      height: 200px;
      padding-top: 20px;
      max-width: 160px;
      margin-left: 0;
    }
    @include respond-to("large") {
      height: 220px;
      padding-top: 20px;
      max-width: 170px;
      margin-left: 0;
    }
    .wp-image-110,
    .wp-image-112,
    .wp-image-113,
    .wp-image-114 {
      height: 90px;
      width: auto;
      @include respond-to("average") {
        height: 80px;
      }
      @include respond-to("medium") {
        height: 80px;
      }
      @include respond-to("large") {
        height: 100px;
      }
    }
  }
  p {
    font-size: 15px;
  }
}
.image-container-column {
  padding-bottom: 5px;
  padding-top: 10px;
  height: 130px;
  justify-content: center;
  display: flex;
  align-items: center;
  @include respond-to("average") {
    padding-bottom: 30px;
    padding-top: 10px;
    height: 110px;
  }
  @include respond-to("medium") {
    padding-bottom: 30px;
    padding-top: 10px;
    height: 110px;
  }
  @include respond-to("large") {
    padding-bottom: 30px;
    padding-top: 10px;
    height: 130px;
  }
}

/* PROBLEM, image responsivness on phone */

// .top-image-left {
//   display: flex;
//   .wp-image-42 {
//     justify-content: center;
//     display: flex;
//     align-items: center;
//     min-width: 100%;
//   }
// }

.welcome-paragraph {
  font-weight: bold;
  color: #062a4d;
  justify-content: center;
  display: flex;
  @include respond-to("average") {
    font-weight: 400;
    justify-content: center;
    display: inline-block;
  }

  @include respond-to("medium") {
    font-weight: 400;
    justify-content: center;
    display: inline-block;
  }

  @include respond-to("large") {
    font-weight: 400;
    justify-content: center;
    display: inline-block;
  }
}

.hide {
  display: none;
  @include respond-to("average") {
    display: inline-block;
  }

  @include respond-to("medium") {
    display: inline-block;
  }

  @include respond-to("large") {
    display: inline-block;
  }
}

.welcome-heading {
  font-size: 55px !important;
  font-family: HelveticaNeueMedium;
  font-weight: 500;
}

.welcome-paragraph-text {
  font-size: 18px;
  padding-top: 15px;
  font-family: HelveticaNeueLight;
  // @include respond-to("average") {
  //   font-size: 18px;
  // }

  // @include respond-to("medium") {
  //   font-size: 18px;
  // }

  @include respond-to("large") {
    font-size: 20px;
  }
}

.top-section-order {
  padding-top: 60px;
}
// .welcome-heading {
//   order: 3;
//   display: flex;
// }
// .welcome-paragraph-text {
//   order: 1;
//   display: flex;
// }
// .top-image-left {
//   order: 2;
//   display: flex;
// }

.top-section-image {
  margin-left: 45px;
  min-width: 100%;
  @include respond-to("average") {
    margin-left: 0;
  }

  @include respond-to("medium") {
    margin-left: 0;
  }

  @include respond-to("large") {
    margin-left: 0;
  }
}

.wp-block-ub-content-toggle-accordion-title {
  color: #062a4d !important;
  font-weight: 700 !important;
}

.partner-us-paragraph {
  font-size: 15px;
  line-height: 17px;
  text-align: justify;
}

.partner-us-sub-paragraph {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: justify;
  line-height: 15px;
}

.benefits-info {
  display: flex !important;
  flex-direction: row-reverse !important;

  .wp-block-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid green;
    flex: 2;

    p {
      border: 1px solid red;
    }
  }

  figure {
    display: flex;
    border: 1px solid yellow;
    flex: 1;
  }
}

.email-color-helper {
  color: #009f1e;
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  @include respond-to("average") {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include respond-to("medium") {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include respond-to("large") {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.partner {
  padding-bottom: 60px;
}
