.last-p-element {
  padding-bottom: 60px;
}
.libidiol-main {
  padding: 20px 20px 40px 20px;
}

.libidiol-one {
  padding: 20px 10px;
}
.libidiol-two {
  padding: 20px 10px;
}

.libidiol-image {
  padding: 0px 0px 20px 0px;
}
