.privacy-policy-paragraph-first-line {
  padding-top: 40px;
}

.privacy-policy-paragraph-last-line {
  padding-bottom: 40px;
}

.privacy-policy-paragraph,
.privacy-policy-paragraph-first-line,
.privacy-policy-paragraph-last-line {
  padding-left: 10px;
  padding-right: 10px;
}
