.additional-custome-page-paragraph {
  display: flex;
  justify-content: center;
  .woocommerce {
    display: flex;
    flex-direction: column;
    @include respond-to("average") {
      flex-direction: column;
    }

    @include respond-to("medium") {
      flex-direction: row-reverse;
    }

    .woocommerce-MyAccount-navigation {
      order: 2 !important;
      min-width: 340px;
      width: 75%;
    }
    .woocommerce-MyAccount-content {
      order: 1 !important;
      padding: 30px 0px 30px 10px;
      min-width: 340px;
      max-width: 740px;
      @include respond-to("average") {
        min-width: 440px;
        max-width: 740px;
      }

      @include respond-to("medium") {
        min-width: 540px;
        max-width: 740px;
      }

      @include respond-to("large") {
        min-width: 740px;
        max-width: 740px;
      }
    }
  }
}

/*Account details for EYE to show password*/
.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
  top: 0.2em;
  @include respond-to("average") {
    top: 0.5em;
  }

  @include respond-to("medium") {
    top: 0.5em;
  }

  @include respond-to("large") {
    top: 0.2em;
  }
}

.login {
  display: flex;
  flex-direction: column;
  .woocommerce {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}
