/*Add button in Addressses page*/
.u-columns.woocommerce-Addresses.col2-set.addresses {
  a.edit {
    display: flex;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    border: 2px solid #54ade1;
    text-decoration: none;
    @include transition(0.3s ease-in-out);
    &:hover {
      background-color: darken(#ffffff, 10%) !important;
    }

    @include respond-to("average") {
      font-size: 15px;
    }

    @include respond-to("medium") {
      font-size: 15px;
    }

    @include respond-to("large") {
      font-size: 15px;
    }
  }
}

/*Addresses main container*/
.u-columns.woocommerce-Addresses.col2-set.addresses {
  display: flex;
  flex-direction: column;
}

/* Billing address field*/
.u-column1.col-1.woocommerce-Address {
  min-width: 100% !important;
  float: none !important;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(233, 233, 233);
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  @include respond-to("average") {
    min-width: 80% !important;
    width: 680px;
    padding: 15px;
  }

  @include respond-to("medium") {
    min-width: 80% !important;
    width: 760px;
    padding: 15px;
  }

  @include respond-to("large") {
    min-width: 100% !important;
    width: 850px;
    padding: 15px;
  }

  > a.edit {
    order: 2;
  }

  > h3 {
    order: 3;
    min-width: 100%;
  }

  > address {
    order: 1;
  }
}

/* Shipping address field*/
.u-column2.col-2.woocommerce-Address {
  min-width: 100% !important;
  float: none !important;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(233, 233, 233);
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  @include respond-to("average") {
    min-width: 80% !important;
    padding: 15px;
  }

  @include respond-to("medium") {
    min-width: 80% !important;
    padding: 15px;
  }

  @include respond-to("large") {
    min-width: 100% !important;
    padding: 15px;
  }

  > h3 {
    order: 3;
  }

  > a.edit {
    order: 2;
  }

  > address {
    order: 1;
  }
}

.woocommerce-Address-title title {
  display: flex;
  justify-content: flex-start;
}
