/* Hide cart content initially */
.header-cart-content {
  display: none;
  position: absolute;
  top: 100%;
  left: -250px;
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 9999;
  min-width: 450px;
}

/* Show cart content on hover */
#cart-icon:hover .header-cart-content {
  display: block;
  z-index: 9999;
}

/* Style for the cart content */
.header-cart-content a {
  display: block;
  margin-bottom: 5px;
  z-index: 9999;
}
/* Style for the return to shop*/
.return-to-shop {
  display: block;
  width: auto;
  z-index: 9999;
  .button.wc-backward {
    display: flex;
    justify-content: center;
  }
}
.cart-count {
  display: inline-block;
  margin-left: -10px;
  margin-top: -5px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
  z-index: 99;
}

.cart-count .cart-count-inner {
  background-color: #ff0000;
  color: #fff;
  padding: 0px 5px;
  border-radius: 50%;
  display: inline-block;
  font-size: 12px;
}

/* Keyframes for bouncing animation */
@keyframes bounceAnimation {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Apply animation on hover */
#cart-icon:hover .cart-count {
  animation: bounceAnimation 2s ease infinite;
}

/* Remove product X button*/
.woocommerce a.remove {
  display: flex;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  color: red !important;
  text-decoration: none;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
  line-height: 20px;
}

/* Css to overwrite default woocommerce cart style*/
.cart_totals {
  float: right;
  width: 100% !important;
}
.checkout-button.button.alt.wc-forward {
  display: flex;
  justify-content: center;
}

/* Style for checkout button when hovering over the cart on desktop*/
.wc-proceed-to-checkout {
  .checkout-button {
    display: flex;
    background-color: #76b600 !important;
    text-decoration: none;
    padding: 15px 45px;
    font-size: 14px;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
    @include transition(0.3s ease-in-out);
    &:hover {
      background-color: darken(#76b600, 10%) !important;
    }
    @include respond-to("average") {
      padding: 10px 25px;
      font-size: 15px;
    }
    @include respond-to("medium") {
      padding: 10px 25px;
      font-size: 15px;
    }
    @include respond-to("large") {
      padding: 10px 30px;
      font-size: 15px;
    }
  }
}

.wp-block-separator.is-style-dots {
  padding-bottom: 10em;
}

.wc-block-cart__empty-cart__title {
  font-size: 25px !important;
  padding-top: 2em;
  @include respond-to("average") {
    padding-top: 3em;
  }
  @include respond-to("medium") {
    padding-top: 4em;
  }
  @include respond-to("large") {
    padding-top: 5em;
  }
}

/* Cart is empty dots*/
.wp-block-separator.is-style-dots:before {
  font-size: 2em;
  @include respond-to("average") {
    font-size: 3.5em;
  }
  @include respond-to("medium") {
    font-size: 4.5em;
  }
}

/*Cart Coupon field*/
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text,
#add_payment_method table.cart td.actions .coupon .input-text {
  float: none;
  box-sizing: border-box;
  border: 1px solid #cfc8d8;
  padding: 1px 1px 4px;
  margin: 0 4px 0 0;
  outline: 0;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

/*Coupon code field width*/
.woocommerce table.cart td.actions .input-text,
.woocommerce #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text {
  width: 100px;
  height: 35px;
  padding: 0;
}

.coupon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Specific for cart and shop page*/
.container-mobile {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.woocommerce div.product form.cart {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
}
