.wc-block-cart__submit-container {
  .components-button.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained {
    display: flex;
    background-color: #76b600 !important;
    text-decoration: none;
    padding: 15px 45px;
    font-size: 14px;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
    @include transition(0.3s ease-in-out);
    &:hover {
      background-color: darken(#76b600, 10%) !important;
    }
    @include respond-to("average") {
      padding: 10px 25px;
      font-size: 15px;
    }
    @include respond-to("medium") {
      padding: 10px 25px;
      font-size: 15px;
    }
    @include respond-to("large") {
      padding: 10px 30px;
      font-size: 15px;
    }
  }
}
